<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316667010224-9uqohiealvj1ma37vc81l621bouruhc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316667010224-9uqohiealvj1ma37vc81l621bouruhc5</string>
	<key>API_KEY</key>
	<string>AIzaSyCaRirUJo26fwfxPa6u7n2Fqu08jKI28Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>316667010224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nf1005Firebase</string>
	<key>PROJECT_ID</key>
	<string>nf1005-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>nf1005-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316667010224:ios:bcc22df67f3c9ed65e2f75</string>
</dict>
</plist>